body {
  font-family: Calibri, Helvetica, sans-serif;
  overflow-y: scroll;
  margin: .5em 1em .5em 1em;
  font-size: 16px;
}

ul, dd {
  padding-left: 1.2em;
  margin-left: 0;
}

dl {
  margin: 0;
}

dt {
  margin: 0.6em 0 0.6em 0;
  font-weight: bold;
}

table {
 font-size: 100%;
  padding: 0;
  border: 0;
  /*table-layout: fixed;
  border-collapse: collapse;*/
}
	
th {
  padding: 0 1em 0em 0;
}

td {
  padding: 0 0 0 0;
  vertical-align: top;
  border: 0;
  height: 20px;
  vertical-align: top;
  white-space: nowrap;
}

/* 
 * th, td {
 *   border-bottom: 1px solid #ddd;
 * }
 */

.img {
  vertical-align: top;
}

.slick {
  padding: 0 0 0 0;
}

textarea {
  font-family: "Consolas", "Ubuntu Mono", Menlo, monospace;
  font-size: 90%;
  margin: 4px 0px 4px 0px;
  width: 100%;
}

select {
  width: 166;
}

code {
  font-family: "Consolas", "Ubuntu Mono", Menlo, monospace;
  border: 1px solid #E3E3FF;
  border-radius: 3px;
  padding: 0 4px 0 4px;
  margin: 0 2px 0 2px;
  font-size: 90%;
}

pre {
  font-family: "Consolas", "Ubuntu Mono", Menlo, monospace;
  font-size: 90%;
}

h1 {
  font-size: 220%;
  font-weight: bold;
  color: #AA1818;
  margin: -2px 0 0 0;
}

h2 {
  font-size: 150%;
  color: #CC3333;
  margin: 0 0 0.2em 0;
}

h3 {
  font-size: 120%;
  color: #606060;
  margin: 0.2em 0 0.2em 0;
}

h4 {
  font-size: 120%;
  margin: 0.4em 0 0.2em 0;
}

hr {
  height: 1px;
  border: 0px;
  background-color: #777;
}

a {
  color: #CC3333;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

p {
  margin: 0 0 0.6em 0;
}

.right {
  float: right;
}

.error {
  color: #FF3333;
  font-weight: bold;
}

.info {
  color: #009900;
  font-weight: bold;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.warning {
  color: #999999;
  font-weight: bold;
}

.note {
  color: #666666;
}

.footnote {
  font-size: 70%;
  color: #666666;
}

.small {
  height: 10px;
}

.variable {
  font-family: "Calibri", "Trebuchet MS", sans-serif;
}

.vertical {
  width: 1px;
  border-left: 1px solid #000000;
  height: 100%;
}

.free_translations {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-style: italic;
}

.free_translation td {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-style: italic;
}

.concordance {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.conc_line {
  border: 0px solid thin black;
  margin: 0px;
  padding: 0px;
}

/* pb here */
.conc_line_content tr {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.conc_line_content {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.conc_ref {
	border-right: 1px solid thin black;
  margin: 0px;
}

.conc_left {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.conc_right {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.conc_keyword {
  border: 1px thin solid black;
  margin: 0px;
  padding: 0px;
}

.conc_keyword table tr td table tr td {
  font-weight: bold;
}

/* pb here */

.gram {
  font-variant-caps: small-caps;
  font-variant: small-caps;
}

/*
.lex {

}
*/

.interlinear_words tr {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.interlinear_words {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.interlinear_word {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.interlinear_morphemes {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.morph_txt {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.morph_cf {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.morph_gloss {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
